<h1>Posts</h1>

<ul>
<% @posts.each do |post| %>
  <li>
    <div class="title">
      <a href="<%= post.link %>" target="_blank"><%= post.title %></a>
    </div>
    <div class="tagline">
      submitted at <%= post.created_at %>
    </div>
  </li>
<% end %>
</ul>
